<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurangi Stok</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container2">
        <h2>Kurangi Stok {{ wep.nama }}</h2>
        <form action="{% url 'kurangi_stok' wep.id %}" method="post">
            <fieldset>
            {% csrf_token %}
            <label for="jumlah_perubahan" style="font-size:20px;">Jumlah:</label><br><br>
            <input type="number" name="jumlah_perubahan" required><br><br>
            <button type="submit" id="new1">Kurangi Stok</button>
            </fieldset>
        </form>
    </div>
</body>
</html>
